
body {
  background-color: #282c34;
  /* text-shadow:10px red; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: aliceblue;
}
