@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: lightblue; /* Set default body background color */
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
